# Terraform binaries and hidden folders
.terraform/
*.exe
*.bat
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# SonarQube cache
.scannerwork/

# Ignore Large Machine Learning Models
*.joblib