fastapi==0.100.0
uvicorn==0.23.1
psycopg2-binary==2.9.7
python-dotenv==1.0.0
pandas==2.2.2
requests==2.32.3
sqlalchemy==2.0.19
apscheduler==3.10.4
entsoe-py==0.6.5
pandas
scikit-learn==1.3.1
xgboost
joblib
holidays
prometheus-fastapi-instrumentator
